* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
  color: #1e3950;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: "Emblema One", system-ui;
  color: #243f5b;
  letter-spacing: 1px;
}

/* header */
.hero {
  background-color: #8da0ad;
  padding: 100px 30px;
  text-align: center;
}
.top-left {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
}

.hero-content h1 {
  color: antiquewhite;
  font-size: 70px;
}

.hero-content p {
  font-family: "Jua", sans-serif;
  font-size: 20px;
  color: #f0f0f0;
}

/* features */
.features-intro {
  text-align: center;
  font-family: "Knewave", system-ui;
  font-size: 18px;
  max-width: 800px;
  margin: 50px auto 50px;
  color: #2b4469;
  letter-spacing: 1px;
}

.feature-cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.feature-card img {
  background-color: #8da0ad;
  padding: 10px;
  width: 80%;
}

.feature-card {
  font-size: 20px;
  text-align: center;
}

.feature-card a {
  font-size: 15px;
}
